div {
  display: flex;
}

 h2 {
  padding: 20px;
 }

 button {
  padding: 50px;
  border-radius: 35px;
  margin-left: auto;
  margin-right: auto;
 }
 
 button:hover {
  border: 5px solid rgb(0,0,0);
 }