*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/************ layout *****************************/

header p {
  font-size: 20px;
  text-align: center;
  letter-spacing: 4px;
  padding: 50px;
}

.column {
  display: flex;
  flex-direction: column;
  background-image: url(../assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.story {
  display: flex;
  align-items: center;
  padding: 20px;
}

/************ numbers and titles **************/

.number {
  font-size: 100px;
  font-weight: 800;
  padding: 10px;
  color: rgb(19, 18, 18);
}

.title-and-info {
  display: flex;
  flex-direction: column;
  color: rgb(19, 18, 18);
}

.title {
  font-weight: lighter;
  font-size: 30px;
  letter-spacing: 4px;;
}

a {
  color: rgb(19, 18, 18);
}

a:hover {
  color: rgb(0, 0, 148);
  text-shadow: 2px 3px #8bc9e2;
  opacity: 0.7;
}

/**************** BUTTON ********************/

button {
  cursor: pointer;
  opacity: 0.5;
}

button:hover {
  opacity: 1;
}

/********************* INFORMATION ****************/

.info {
  font-weight: light;
  font-family: 'Arial', serif;
  font-weight: lighter;
  font-size: 17px;
  display: none;
}

/*** back button *****/

#link {
  color: black;
  font-size: 15px;
  font-weight: 500;
  padding: 20px;
  text-align: center;
  letter-spacing: 4px;
}

#link:hover {
  font-weight: 600;
}