*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

header{
  height: 100vh;
  width: 100%;
  line-height: 100vh;
  background-image: url("./assets/landing_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#title {
  font-size: 50px;
  font-weight: 800;
  text-align: left;
  margin: 200px;
  margin-bottom: 20px;
}

#title:hover {
  color: rgb(0, 0, 85);
  text-shadow: 2px 3px #8bc9e2;
  opacity: 0.75;
}

#line {
  background-color: black;
  height: 0.5px;
  width: 40%;
  margin-left: 200px;
}

#description {
  font-size: 20px;
  font-weight: lighter;
  text-align: left;
  padding: 200px;
  padding-top: 30px;
  padding-bottom: 100px;
}

#description > span:hover {
  color: rgb(172, 146, 30);
}

/********* second picture **************/

#lovereading {
  height: 90%;
  width: 80%;
  margin: auto;
  display: block;
}

/* lil animation from https://codepen.io/AdamDipinto/pen/EqxaEO */

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.perspective-text {
  color: rgb(231, 231, 231);
  font-family: Arial;
  font-size: 58px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
}

.perspective-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}

#para {
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: all 0.5s ease-in-out;
}

.perspective-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.667);
}

.perspective-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.337);
}

.perspective-text:hover p {
  transform: translate(0, -50px);
}

.perspective-line:nth-child(1) {
  left: 29px;
}

.perspective-line:nth-child(2) {
  left: 58px;
  background: #f07e6e;
}

.perspective-line:nth-child(3) {
  left: 87px;
  background: #84cdfa;
}

.perspective-line:nth-child(4) {
  left: 116px;
  background: #5ad1cd;
}

.perspective-line:nth-child(5) {
  left: 145px;
}


/***** hover effect for the word magic and bright and day ********/
#magic:hover {
  color: pink;
}

#bright:hover {
  color: rgb(233, 200, 12);
}

#day:hover {
  color: rgb(152, 219, 231);
}
/****************** footer *************/

footer {
  display: flex;
  justify-content: center;
}

form {
  padding: 40px;
}

input[type="button"]
{
    width:200px;
    height:60px;
    margin-left:35px;
    display:block;
    background-color:rgb(180, 180, 180);
    color:rgb(255, 255, 255);
    border: none;
    outline:none;
    letter-spacing: 4px;
    cursor: pointer;
}

input[type="button"]:hover {
  background-color: rgb(0, 0, 85);
  box-shadow: 2px 3px #8bc9e2;
  opacity: 0.8;
}