*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #bbaf9ddc;
  padding-bottom: 20px;
}
/* logo */

#logo-box {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#logo {
  width: 150px;
}

/* nav-bar */

.nav-bar-link-wrapper {
  display: flex;
  height: 55px;
  width: 100%;
  justify-content: center;
  align-items: right;
}

.nav-bar-link-wrapper > a {
  margin: 10px;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 700;
}

.nav-bar-link-wrapper > a:hover {
  text-decoration: underline;
}

#current {
  color: rgb(19, 19, 19);
}

/* design page-content */

.page-content {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 70px;
  border-left: 200px solid #bbaf9ddc;
  border-right: 200px solid #bbaf9ddc;
}

/* column-one */

#column-one {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 25px;
  text-align: right;
}

#information-left {
  padding-top: 20px;
  width: 400px;
  text-align: right;
}

p {
  font-style: italic;
  font-weight: 400;
}

#designL1 {
  width: 400px;
  height: 400px;
  opacity: 1;
}

#designL {
  width: 400px;
  height: 500px;
  opacity: 1;
}

.caption {
  padding-top: 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  padding-bottom: 50px;
  text-align: right;
}

#line-left {
  width: 400px;
  height: 30px;
  border-top: 0.5px solid black;
  margin-top: 30px;
}

/* column-two */

#column-two {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}

#designR1 {
  width: 500px;
  height: 400px;
  margin-left: 20px;
}

#designR2 {
  width: 500px;
  height: 650px;
  margin-left: 20px;
}

#designR3 {
  width: 500px;
  height: 700px;
  margin-left: 20px;
}

#right {
  padding-left: 20px;
  text-align: left;
}



/* footer- and back to top */

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #bbaf9ddc;
}

#back-up {
  align-self: center;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 50px;
}

#back-up:hover {
 font-weight: 700;;
}

#cr {
  color: white;
  align-self: center;
  padding-bottom: 30px;
}