*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#class-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#class-title {
  margin: 20px;
  font-size: 35px;
  font-weight: 700;
}

#student-info {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.nav-bar-link-wrapper {
  display: flex;
  height: 75px;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #1a1b1c;
}

.nav-bar-link-wrapper > a {
  margin: 10px;
  padding: 10px;
  color: white;
  background-color: #1a1b1c;
  font-size: 20px;
}

#current {
  font-weight: bold;
}

#page-title {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
}

p {
  margin-left: 50px;
}

#animation {
  height: 200px;
  width: 200px;
  padding: 20px;
  align-self: center;
   
  color: black;
  background-color: red; 
   
   transition: background-color 1s linear; 
  -moz-transition: background-color 1s linear;  
  -webkit-transition: background-color 1s linear; 
  -ms-transition: background-color 1s linear; 
}

#animation:hover {
  background-color: blue;
}

#main {
  display: flex;
  align-content: center;
}

#page-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 20px;
  width: 950px;
  padding: 25px 45px;
  background-color: #f4f8ff;
}

#title {
  align-self: center;
  margin: 0px;
  font-weight: 700;
  font-size: 20px;
  padding: 20px;
}

#images {
  align-self: center;
  width: 700px;
  padding: 30px;
}